body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
    margin: 0;
}
.container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
}
h2 {
    color: #333;
    margin-bottom: 20px;
}

select{
    padding: 12px;
    margin: 10px 10px;
    width: 40%;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}



input {
    padding: 12px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input:focus, select:focus {
    border-color: #74ebd5;
    outline: none;
    box-shadow: 0 0 5px rgba(116, 235, 213, 0.5);
}
button {
    padding: 14px;
    background: #ff6f61;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s ease;
    margin-top: 15px;
}
button:hover {
    background: #e05a50;
}
#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #444;
}